@use "bootstrap/scss/bootstrap";
@use './partials/reset';
@use './partials/utilities';

body{
  font-family: "Playwrite IT Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card{
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}